@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.footerFullDiv{
    background-image: url('/images/footerBackground.png');
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    padding: 50px;
}


.footeritemsfirst{
    /* position: absolute; */
    display: flex;
    flex-wrap: wrap;
gap: 40px;
margin: 12px 0 0 0;
}
.footertags{
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        width: 697px;
        height: 54px
}
.footertexts{
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        width: 507px;
        height: 35px
}
.footeritemsfirst a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
}
.footeritemsfirst a:hover{
    text-decoration: none;
    color: white;
    font-size: 18px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
}
.footertagstextsDiv{
    display:grid;
    place-items: center;
}

.footerInputsDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.footerInput{
    width: 380px;
    height: 60px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 31%);
    border: none;
    padding: 0 0 0 20px;
    /* opacity: 8%; */
    outline: none;
    color: white;
}
.footerInputsbutton{
    width: 160px;
    height: 60px;
    border-radius: 4px;
    background: rgba(204, 134, 99, 1);
    color: white;
    font-size: 18px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
    border: none;
}

.footeritemsLastdiv{
    margin: 180px 50px 0px 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.CompanyTag{
    font-family: "Poppins", sans-serif;
font-weight: 700;
font-size: 24px;
margin: 10px 0 0 0;
color: rgba(255, 255, 255, 1);
}
.CompanyTagspan{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: rgba(203, 132, 97, 1) !important;
}
.CompanyTagmob{
    display:none;
    visibility: none;
}





/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
 
    .footertags{
        color: rgba(255, 255, 255, 1);
        font-size: 18px;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            width: 272px;
            height: 54px;
            text-align: center;
    }
    .footertexts{
        color: rgba(255, 255, 255, 1);
        font-size: 12px;
            font-family: "Poppins", sans-serif;
            text-align:center;
            font-weight: 400;
            font-style: normal;
            width: 311px;
            height: 60px
    }
    .footerInputsDiv{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
    }
    .footerInput{
        width: 297px;
        height: 47px;
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 31%);
        border: none;
        /* padding: 0 0 0 20px; */
        /* opacity: 8%; */
        outline: none;
        color: white;
    }
    .footerInputsbutton{
        width: 126px;
        height: 47px;
        border-radius: 4px;
        background: rgba(204, 134, 99, 1);
        color: white;
        font-size: 12px;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-style: normal;
        border: none;
    }
    .footeritemsfirst{
        /* position: absolute; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    gap: 40px;
    margin: 12px 0 0 0;
    }
    .CompanyTag{
        display: none;
        visibility: hidden
    }
    .footeritemsLastdiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .CompanyTagmob{
        display: block;
        visibility: visible;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 24px;
        margin: 10px 0 0 0;
        color: rgba(255, 255, 255, 1);
    }
    .CompanyTagspanmob{
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 24px;
        color: rgba(203, 132, 97, 1) !important;
    }
    
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
   
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Styles */
}