@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.PopCourseWeekfulldiv{
    background: rgba(36, 93, 81, 1);
padding: 80px 50px;

/* display: flex;
justify-content: center;
flex-direction: column;
align-items: center; */
}
.PopCourseWeektextdiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.PopCourseWeekTag{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: rgba(255, 255, 255, 1);
}
.PopCourseWeekText{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    width: 347px;
    height: 70px;
    text-align: center;
}
.cardsliderfulldiv{
    display: grid;
    place-items: center;
}
.cardfulldiv{
    width: 400px;
    border-radius: 10px;
}
.cardtextfulldiv{
    padding: 20px;
}

.cardInfofulldiv{
    display: flex;
    justify-content: space-around;
}
.cardInfosingdiv{
    display: flex;
    gap: 10px;
}
.cardimg{
    width: 45px;
    height: 45px;
    border-radius: 100%;
}
.cardInfobtndiv{
    display: flex;
    justify-content: space-around;
}
.PopCoursecardtag{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: rgba(44, 44, 44, 1);
    width: 365px;
    height: 72px;
}
.cardimgtextP{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: rgba(44, 44, 44, 1);
    width: 94px;
    /* height: 21px; */
}
.cardimgtextspan{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: rgba(44, 44, 44, 1);
    width: 76px;
    height: 15px;
    /* margin: -20px 0 0 0; */
}
.cardimgtextPdiv{
    display: flex;
    flex-direction: column;
}

.cardInfobtndiv{
    margin: 20px 0 0 0;
}
.cardInfobtn{
    background-color: rgba(36, 93, 81, 1);
    width: 103px;
    height: 54px;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 12px;
    border: none;
    color: white;
}
.cardInfobtnp{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: rgba(44, 44, 44, 1);
}
.cardInfobtnspan{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: rgba(128, 128, 128, 1);
}



/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  .cardfulldiv{
    width: 350px;

  }
  .cardtextfulldiv{
    padding: 30px 43px 28px 20px;
  }
  .PopCoursecardtag{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 14px;
    width: 243.92px;
    height:42px;
    line-height: 21px;

    color: rgba(44, 44, 44, 1);
  }
  .cardInfobtn{
    width: 83px;
    height: 34px;
    border-radius: 6px;
    padding: 2px 15px 2px 15px;
    margin: 0 0 0 -40px;
  }
    .cardInfobtnp{
        font-size: 16px;

    }
    .cardInfobtnspan{
        font-size: 8px;
    }
    .PopCourseWeekTag{
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        width: 256px;
        height: 27px;
        text-align: center;
        color: rgba(255, 255, 255, 1);
    }
    .PopCourseWeekText{
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.6);
        width: 347px;
        line-height: 30px;
        height: 70px;
        text-align: center;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
 
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Styles */
}
