@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.Reviewtagsdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.Reviewtag{
    font-family: "Poppins", sans-serif;
    width: 340px;
    height: 54px;
    font-weight: 600;
    font-size: 36px;
    color: rgba(44, 44, 44, 1);
}
.Reviewtagspan{
    color: 
    rgba(203, 132, 97, 1);
}
.Reviewsliderdiv{
    border: solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviewSliderImgdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    /* border: solid gray; */
    width:413px;
    height: 346px;
}
.reviewSliderImg{
    width: 45px;
    height: 45px;
    border-radius: 100%;

    }   
    .reviewSlidertag{
        font-family: "Poppins", sans-serif;
        width: 224px;
        height: 36px;
        font-weight: 400;
        font-size: 24px;
        color: rgba(44, 44, 44, 1);
    }
    .reviewSliderp{
        font-family: "Poppins", sans-serif;
        width: 318px;
        height: 105px;
        font-weight: 400;
        font-size: 16px;
        color: rgba(128, 128, 128, 1);
    }
    .revsliderbutton:hover{
        background-color: rgba(203, 132, 97, 1);
        color: white;
        cursor: pointer;
        width: 40px;
        height:40px;
        border-radius: 100%;
        padding: 10px;
    }