


.trusttextdiv{
    display: grid;
    place-items: center;
}
.trustImgsdiv{
display: flex;
justify-content: center;
gap: 30px;
}
.trustImg{
    width: 100px;
    height: 20px;
}
.trustImg1{
    width: 98px;
    height: 30px;
    
}
.trustImg2{
    width: 100px;
    height: 33px;

}
.trustImg3{
    width: 100px;
    height: 33px;
}
.trustImg4{
    width: 110px;
    height: 38px;

}